.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.postTextArea {
  margin-top: 10px;
  resize: none;
}

.singleSubPost {
  border: 4px solid black;
  width: 50%;
}

.subPostsContainer {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerLinks {
  background: blue;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 15%;
}

.headerContainer {
  display: flex;
  border: 5px solid lightcoral;
  height: 150px;
  margin-bottom: 20px;
}

.navContainer {
  width: 50%;
  display: flex;
}

.logoHeader {
  width: 50%;
  background-color: lightcoral;
}

.navContentContainer {
  width: 100%;
  display: flex;
}

.navContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.searchBarContainer {
  width: 100%;
}

.searchBar {
  width: 25%;
  height: 25px;
  margin-bottom: 25px;
}

.searchBarBtn {
  height: 31px;
}