.App {
  text-align: center;
  background-color: #6883bc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.singlePostLink:active {
  color: black;
}


.postTextArea {
  margin-top: 10px;
  resize: none;
}

.singlePostLink:visited {
  color: gray;
} 

.singlePostLink {
  color: black;
}

.singleSubPost {
  border: 4px solid whitesmoke;
  width: 600px;
  text-decoration: none;
  margin: 20px auto;
  background-color: #FFFFF0;
  display: flex;
}

.voteArrow {
  width: 20px;
  height: 20px;
}

.voteArrow:hover {
  cursor: pointer;
}

.postVotes {
  padding: 5px;
  margin: 0px 15px 0px 2px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
}

.singlePostTitle {
  text-align: left;
}

.singlePostInfo {
  margin: 0;
  text-align: left;
}

.singlePostLink {
  text-decoration: none;
}

.subPostsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerLinks {
  background: #8a307f;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 15%;
  margin: 20px;
}

.headerContainer {
  display: flex;
  background-color: #79a7d3;
  height: 50px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.navContainer {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoHeader {
  width: 33%;
}

.navContentContainer {
  width: 100%;
  display: flex;
}

.navContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 30px;
}

.searchBarContainer {
  width: 100%;
}

.searchBar {
  width: 50%;
  height: 25px;
  margin-bottom: 25px;
}

.searchBarBtn {
  height: 31px;
}

.profileContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  margin: 0 55px;
}

.profileInfoPanel {
  width: 20%;
  border: 2px solid red;
  background-color: whitesmoke;
  border-radius: 15%;
}

.ph {
  width: 80%;
  border: 2px solid green;
}

.userProfileImg {
  margin-top: 20px;
  width: 40%;
  border-radius: 50%;
}

.likedCount {
  margin: 2px;
}